.BttomBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 10px 0;
}
.BttomBar_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.BttomBar_container_div{
    width: 31px;
    overflow: hidden;
}


.BttomBar_container_div_text{
    color: rgba(66, 66, 66, 100);
    font-size: 9px;
    text-align: center;
    font-family: PingFangSC-bold;
}

.BttomBar_container_div_img{
    width:31px;
    height:31px;
    overflow: hidden;
}