*{
    margin: 0px;
}
body,html{
	margin:0px;
	height:100%;
}

.container{
    background-image: url(./tupian/login背景.jpg);
    width:100% ;
    background-repeat: no-repeat;
    height: 100%;
    background-size:100% 100%;
    margin: 0 auto;
    position: absolute;
    top: 0px;bottom: 0px;

}

.biaodan1{
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 70px;
    font-size: 15px;
    
}
/* input{
    width: 275px;
    height: 42px;
    border-radius: 5px;
    border: 1px;
    background-color:rgb(255, 255, 255);
    font-size: 12px;
} */
.login-username{
    position: absolute;
    top: 0px;
    width: 275px;
    height: 42px;
    border-radius: 5px;
    border: 1px;

}
.password{
    position: absolute;
    top: 60px;
    width: 275px;
    height: 42px;
    border-radius: 5px;
    border: 1px;
    
}
.denglu{
    position: absolute;
    top: 130px;
    width: 120px;
    background-color:#FF4A3D;
    color:#fff;
    height: 42px;
    border-radius: 5px;
    border: 1px;
    
}
.zhuce{
    position: absolute;
    top: 130px;left: 155px;
    width: 120px;
    background-color:#FF4A3D;
    color:#fff;
    text-align: center;
    height: 42px;
    border-radius: 5px;
    border: 1px;
}
.tishi{
    position: absolute;
    width: 275px;
    top: 110px;
    font-size: 14px;
    color:rgb(112, 7, 7);
}
/* .ll{
    width: 400px;
    height: 100px;
} */
.complete{
    position: absolute;
    top: 125px;
    background-color:#FF4A3D ;
}